/**************************************************************************************************************************************/
/********************************************************** General Stuff CSS *********************************************************/
/**************************************************************************************************************************************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serf;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}


h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.d-flex-just-end {
    display: flex;
    text-align: right;
    margin-left: auto;
}


.section-bg {
    margin: 50px 0px 50px 0px;
    background-color: rgb(245, 251, 255);
    min-height: 350px;
    height: 100%;
}
/**************************************************************************************************************************************/
/************************************************************* Navigation CSS *********************************************************/
/**************************************************************************************************************************************/
.nav-wrapper {
  
    padding: 0;  
}

.main-page-content {
    display: flex;
    flex-direction: column;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    
}

.main-nav h1 {
    font-size: 20px;
    font-weight: bolder;
}
.main-nav li {
    font-size: 15px;
}
.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
}
.nav-left-item {
    padding-left: 10px;
    
}

.nav-center input {
    height: 40px;
    width: 650px;
}
.topNav { /* This hamburger menu will be displayed as none until browser size shrinks */
    padding: 0;
    display: none;
}

/**************************************************************************************************************************************/
/*************************************************************** Nav Search ***********************************************************/ 
/**************************************************************************************************************************************/

.search-wrapper {
    position: relative;
    display: flex;

    min-width: 33%;
}

.search {
    border: 1px solid rgb(201, 200, 200);
    border-radius: 5px;
    height: 20px;
    max-width: 100%;
    padding: 2px 25px 2px 30px;
    outline: 0;
    font-weight: 400;
    font-size: 15px;
}

.search-icon {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 16px;
    color: rgb(153, 153, 153)
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    padding: 20px;
    margin: 0;
}

.main-nav a {
    text-decoration: none;
    color: black;
    display: block;
}

a .icon {
    display: none
}

.nav-center input {
    border-radius: 10px;
    color: gray;
}
/**************************************************************************************************************************************/
/************************************************************************ Content CSS *************************************************/
/**************************************************************************************************************************************/
.content-1-bg {
    height: 586px;
    width: 100vw;
    background-image: url("../images/header-image.jpg");
    background-size: cover;
    background-color: rgb(255, 255, 255);
    background-position: center center;
    opacity: 0.3;
    filter: blur(8px);
    -webkit-mask: linear-gradient(rgb(255, 255, 255), transparent);
}

.content-bg-wrapper {
    position: absolute;
}
.content-wrapper {   
    display: flex;
    flex-direction: column;
    z-index: 2;

}

.content-1-wrapper {
    position: relative;
    align-items: center;
    justify-content: start;
    margin: 0px auto;
}

.content-1-title {
    font-size: 45px;
    max-width: 100%;
    text-align: left;
    margin-right: 10px;
    margin: 0;
    line-height: 1.1;
}

.c-1-section {
    padding-top: 20px;
    padding-bottom: 10px;
}
.c-1-section h3 {
    font-size: 20px;
}
.c-1-section p {
    font-size: 25px;
    margin-right: 180px;
    text-align: left;
    z-index: 2;
}

.c-1-footer {
    margin-top: 40px;
    color: rgb(9, 104, 194);
}
.content-1-container {
    margin: 0px auto;
    padding: 30px;
    max-width: min(1200px, 100% - 40px);
    flex-wrap: wrap;
}

.c-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 65%;
}

.img-card {
    justify-content: end;
}
/**************************************************************************************************************************************/
/************************************************************ Buttons and Cards *******************************************************/
/**************************************************************************************************************************************/
.card-1 { 
    height: 90%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    transition: 0.3s;
    overflow: hidden;
}

.card-1 img {
    height: 420px;
    width: 550px;
}
.card-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    display: flex;
    flex-direction: row;
}

.card-1 .card-container {
    padding: 15px;
}
.card-container h4 {
    margin: 0;
}

.card-container img {
    border-radius: 50%;
}
.btn-blu {
    background-color: rgb(9, 104, 194);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block; 
}

.btn-outline-blu {
    background-color: white;
    border: 1px solid rgb(9, 104, 194);
    color: rgb(9, 104, 194);
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block; 

}

.btn-group .btn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    justify-content: center;
    width: 167px;
    margin-right: 20px;
    cursor: pointer
    
}


.btn-group button:hover {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
}


.m-r-120 {
    margin-right: 100px;
}

/**************************************************************************************************************************************/
/********************************************************** Section 2 Content *********************************************************/
/**************************************************************************************************************************************/

.btn-outline {
    text-decoration: none;
    display: inline-block; 
    padding: 2px 8px 2px 8px;
    border: 1px solid white;
}

.btn-group .btn-outline {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
    
}

.card-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper .card-2 {
    margin: 10px;
    overflow: hidden;
    height: 100%;
    flex-direction: column;
    border-radius: 3%;
}

.content-2-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card-2 img {
   height: 100%;
   width: 100%;
}

.card-2-details {
    font-weight: normal;
}

.content-title {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    justify-content: center;
}

.content-title span {
    color: rgb(55, 127, 172);
}

.card-2 .card-2-body {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
}

.card-2-body .card-2-title {
    text-align: center;
}

.card-2-body div {
    padding-bottom: 30px;
}

#content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin-left: auto;
    margin-right: auto;
}

.card-2-body p {
    font-weight: 1em;
}

.content-2-wrapper {

    margin-top: 50px;
}

/***************************************************************************************************************************************/
/**************************************************************** Content 3 ************************************************************/
/***************************************************************************************************************************************/

.content-3-wrapper {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.content-3-block {
    display: flex;   
    width: 100%;
}

.content-3-item {
    border-bottom: 1px solid gainsboro;
    padding: 20px 0 20px 0;
    width: 350px;
}

.content-3-item .item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-3-item .item-content div {
    padding: 5px;
}

.content-3-item .item-content .item-content-subset {
    padding: 0px;
}

.block-section {

    margin: 0px 20px 0px 20px;
}

.item-content-subset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-right: 10px;
}

.item-content-subset p {
    font-size: 14px;
    color: grey;
    font-weight: bold;
}

.item-content-subset img {
    height: 14px;
    width: 14px;
}

/**************************************************************************************************************************************/
/******************************************************* Content 4 CSS ****************************************************************/
/**************************************************************************************************************************************/

#content-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.content-4-wrapper {
    padding: 0;
    margin: 0;
}
.card-4-wrapper {
    display: flex;
    padding: 10px;

}
.card-4-wrapper .card-4 {
    overflow: hidden;
    height: 100%;
    border-radius: 4%;
    width: 400px;
    border: 1px solid gainsboro;
}

.card-4-wrapper .card-img img {
    height: 175px;
    width: 100%;
    margin-bottom: -45px; /*Used to fuse the two image sizes*/
}

.card-4-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.card-4-body .card-4-content {   
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.card-4-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-4-content .card-4-details {
    padding-top: 30px;
}
.card-4-body-title {
    font-size: 11px;
}
.card-4-body .card-4-title-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* Circular Profile Image */
.card-4-content .profile-img img {
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/**************************************************************************************************************************************/
/******************************************************* Content 5 CSS ****************************************************************/
/**************************************************************************************************************************************/


.content-5-wrapper {
    margin: 0;
    padding: 0;
    
}

.content-5-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.content-5-item {
    width: 400px;
    text-align: center;  
    padding: 0px 30px 20px 30px;

}

.content-5-item img {
    height: 30px;
    width: 30px;
}

.content-5-item .content-5-title {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0px 20px 0px;
}

.content-5-item .content-5-description p {  
    font-size: 15px;
    color: rgb(124, 121, 121);
}

/**************************************************************************************************************************************/
/******************************************************* Content 6 CSS ****************************************************************/
/**************************************************************************************************************************************/

#content-6 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.card-6-wrapper {
    display: flex;
    padding: 10px;

}
.card-6-wrapper .card-6 {
    overflow: hidden;
    height: 100%;
    border-radius: 3%;
    width: 400px;
    border: 1px solid gainsboro;
}

.card-6-wrapper .card-img img {
    height: 350px;
    width: 100%;
    margin-bottom: -25px;
}

.card-6-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.card-6-body .card-6-content {   
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.card-6-body-title {
    font-size: 11px;
}

.carousel-button-left {
    position: relative;
    float: left;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-6 .card-6-details {
    padding: 20px 0px 20px 0px;
}

.carousel-button-right {
    float: right;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-6 .fa {
    padding-left: 19px;
    padding-top: 17px;
}


/**************************************************************************************************************************************/
/******************************************************* Content 7 CSS ****************************************************************/
/**************************************************************************************************************************************/


.content-7-wrapper {
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
#content-7 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.card-7-wrapper .card-img img {
    height: 250px;
    width: 100%;

}

.card-7-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-7-item {
    padding: 10px;
}
.card-7-wrapper .card-7 {
    overflow: hidden;
    height: 95%;
    border-radius: 3%;
    width: 400px;
    border: 1px solid gainsboro;
}
.card-7 .card-7-details {
    font-size: 13px;
    padding: 10px 0px 10px 0px;
}


/**************************************************************************************************************************************/
/******************************************************* Content 8 CSS ****************************************************************/
/**************************************************************************************************************************************/

#content-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.secondary-bg-8 {
    background: url("https://storage.googleapis.com/opensea-static/gas-free/video-background.svg") no-repeat center center;
    min-height: 550px;
    width: 100%;
    margin-top: 50px;
}

.content-8-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

}

#content-8 img {
    height: 600px;
    width: 950px;
}

.content-8-description {
    font-size: 12px;
    color:rgb(87, 87, 87);
    padding: 10px;
}

#content-8 .btn-group {
    padding-top: 100px;
    padding-bottom: 100px;
}
#content-8 .btn-blu.btn{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    justify-content: center;
    width: 100%;
    margin: 0px;
    cursor: pointer;
}

/**************************************************************************************************************************************/
/*************************************************** Sponsor Section ******************************************************************/
/**************************************************************************************************************************************/

.sponsor-section-wrapper {
    margin: 0;
    padding: 0;
}

.sponsor-section-bg {
    background-color:rgb(16, 144, 223);
    min-height: 100px;
    height: 100%;

}

.sponsor-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sponsor-item {
    padding: 5px;
}

/**************************************************************************************************************************************/
/************************************************************ Footer ******************************************************************/
/**************************************************************************************************************************************/
.footer-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(0, 108, 175);
}

.footer-section-1 {
    display: flex;
    flex-flow: row wrap; 
    color: white;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 1px
    solid rgba(229, 232, 235, 0.25);
}

.footer-half-section {
    width: 50%;

}

.footer-half-section.section-divide-left {
    padding-top: 20px;
    padding-left: 40px;
}
.footer-half-section.section-divide-right {
    padding-top: 20px;
    padding-right: 40px;
}

.footer-flex-column {
    display: flex;
    flex-direction: column;
    text-align: left;
}


.footer-content-title {

}

.footer-content-description {

}
.f-section-item {
    padding-top: 20px;
}

.footer-sub-wrapper {
    position: relative;
    display: flex;
    min-width: 33%;
}
.footer-sub-wrapper .btn-blu {
    background-color: rgb(12, 123, 226);
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block; 
    text-align: center;
}
.footer-sub-wrapper .btn-blu.btn {
    margin: 0;
}
.footer-subscription {
    border: 1px solid rgb(201, 200, 200);
    border-radius: 10px;
    height: 50px;
    width: 80%;
    padding: 2px 25px 2px 30px;
    outline: 0;
    font-weight: 400;
    font-size: 15px;
}



/*************************************************************************************************************************************/
/**************************************************** For screen Sizes > 1000px ******************************************************/
/*************************************************************************************************************************************/

@media screen and (max-width: 1000px){
    .nav-wrapper {
        min-width: 33%;
        padding: 0;  
    }
    .nav-right {
        white-space: nowrap;
        display: none;
    }
    .footer-section-1 {
        flex-direction: column;
    }
    
}

/**************************************************************************************************************************************/
/******************************************** For screen sizes at minimum width: 375px (iPhone 6/7/8 size)*****************************/
/**************************************************************************************************************************************/

@media screen and (max-width: 375px){
    .nav-wrapper {
        min-height: 100px;
        min-width: 960px;
    }
    .nav-right {
        white-space: nowrap;
    }
    .search input {
        min-width: 330px;
    }
    .content-1-container.img_card {
        width: 85%;
        padding: 40px 0px;
        align-items: flex-end;
    }
    .content-5-item {
        flex-direction: column;
    }

    
}

/**************************************************************************************************************************************/
/************************************************* For Screen sizes < 1199px **********************************************************/
/**************************************************************************************************************************************/

@media screen and (max-width: 1199px) {
    .nav-wrapper {
        padding: 0;  
    }


    .c-1 {
        display: block;
    }

    /* Responsive Nav section */
    
    .nav-center {
        width: 100%;
        overflow: hidden;
    }
    .nav-left {
        margin-right: 10px;
    }
    .main-page-content {
        justify-content: center;
    }
    .content-1-wrapper {
        display: block;
        align-items: center;  
        margin: 0;
    }
    .content-bg-wrapper {
        position: absolute;
        
    }
    .content-1-wrapper {
        position: relative;
        width: 100%;
    }
    .search input {
        max-width: 330px;
    }

    .content-1-title {
        font-size: 45px;
        width: 100%;
        line-height: 1.1;
        text-align: center;
    }
    .c-1-section p {
        text-align: center;
        margin: 0;
    }
    .btn-group .btn {
        width: 120px;
    }

    .content-1-container.img-card {
        width: 80%;
    }
    .content-bg-wrapper {
        min-width: 960px;
    }

    
    .content-s1 {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    
    .content-3-block {
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    }
    

}

/**************************************************************************************************************************************/
/************************************************* For Screen sizes > 1200px **********************************************************/
/**************************************************************************************************************************************/

@media screen and (min-width: 1200px) {
    .nav-left {
        margin-right: 10px;
    }
    
    .card-1 {
        height: auto;
    }
    .c-1-section p {
        font-size: 25px;
        margin-right: auto;
        text-align: left;
        z-index: 2;
    }
    .btn-group {
        display: inline-flex;
    }
    .content-1-bg {
        width: 100vw;
  
    }
    .nav-wrapper {
        min-width: 33%;
        padding: 0;  
    }
    .content-bg-wrapper {
        position: absolute;
    }
    .content-1-wrapper {
        position: relative;
        width: 100%;
    }
    .content-s1 {
        width: 45%;
        padding: 110px 20px 44px 30px;
        align-items: flex-start;
    }
    #content-7 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
}

/**************************************************************************************************************************************/
/************************************************* For Screen sizes < 1600px **********************************************************/
/**************************************************************************************************************************************/

@media screen and (max-width: 1600px){
    .nav-right {
        display: none;
    }
    .topNav {
        display: block;
        padding: 10px;
    }
    .nav-center {
        width: 100%;
        overflow: hidden;
    }

}
/*************************************************************************************************************************************/
